{% extends "AmBlogBundle:Template:layout.html.twig" %}

{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %} 
<p class="notification"></p>   
<div class="well">
<h3>Ajout d'un nouvel article</h3>
    <form id="form" action="{{ path('am_blog_addArticle') }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
$(document).ready(function () {
    $('#form').on('submit', function () {
        // appel Ajax
        $.ajax({
            url: $(this).attr('action'), // le nom du fichier indiqué dans le formulaire
            type: $(this).attr('method'), // la méthode indiquée dans le formulaire (get ou post)
            data: $(this).serialize(), // je sérialise les données (voir plus loin), ici les $_POST
            success: function (html) { // je récupère la réponse du fichier PHP
                $(".notification").addClass("text-success");   
                $('.notification').fadeIn(function() {
        			$(".notification").text('Insertion Réussie !');
      			});        
                $('#form_title').val('');
                $('#form_content').val('');
            },
            error: function (html) { // je récupère la réponse du fichier PHP
                $(".notification").val('Insertion réussie !');
            }
        });
        return false; // j'empêche le navigateur de soumettre lui-même le formulaire
    }
    );
});
</script>
{% endblock %}