{% extends "AmBlogBundle:Template:layout.html.twig" %}
 
{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}
 
{% block body %}
<div class="alert">
 	<p>Suppression de l'article confirmé !</p>
 </div>	
{% endblock %}
