{% extends "AmBlogBundle:Template:layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
	<h3>Accueil</h3>
	{% if articles is empty %}
		<p>Aucun article trouvés</p>
	{% else %}
  	<ul>
  	{% for value in articles %}
    	<li><a href="{{ path('am_blog_viewArticle', {"id": value.id}) }}" >{{ value.title }}</a></li>
  	{% endfor %}
</ul>
{% endif %}
{% endblock %}