{% extends "AmBlogBundle:Template:layout.html.twig" %}
 
{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}
 
{% block body %}
 <p class="notification"></p>   
  <h2>
  {# On vérifie qu'une image soit bien associée à l'article #}
  {% if article.image is not null %}
    <img src="{{ article.image.chemin }}" alt="{{ article.image.alt }}" />
  {% endif %}
 
    {{ article.title }}
  </h2>
  <i>Par {{ article.author }}, le {{ article.date|date('d/m/Y') }}</i>
   {% if article.tags is not empty %}
      <h3>Category :</h3>
           {% for tag in article.tags %}
            <i>{{ tag.name }}</i>         
            {% if not loop.last %} - {% endif %}
        {% endfor %}
  {% endif %}
  
  <div class="well">
    {{ article.content }}
  </div>
 
  <p>
    <a href="{{ path('am_blog_homepage') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('am_blog_editArticle', {'id': article.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('am_blog_delArticle', {'id': article.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer l'article
    </a>
  </p>

  <h3>Ajout d'un commentaire</h3>
  <form id="form" action="{{ path('am_blog_viewArticle', {'id': article.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
  

   {% if list_comments is not empty %}
      <h3>Comments</h3>
           {% for comment in list_comments %}
            <i>Par {{ comment.author }}, le {{ comment.date|date('d/m/Y') }}</i>
            <div class="well">
              {{ comment.content }}
            </div>            
        {% endfor %}
  {% endif %}


 
{% endblock %}
{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
$(document).ready(function () {
    $('#form').on('submit', function () {
        // appel Ajax
        $.ajax({
            url: $(this).attr('action'), // le nom du fichier indiqué dans le formulaire
            type: $(this).attr('method'), // la méthode indiquée dans le formulaire (get ou post)
            data: $(this).serialize(), // je sérialise les données (voir plus loin), ici les $_POST
            success: function (html) { // je récupère la réponse du fichier PHP
                $(".notification").addClass("text-success");   
                $('.notification').fadeIn(function() {
              $(".notification").text(html);
            });        
                $('#form_content').val('');
            },
            error: function (html) { // je récupère la réponse du fichier PHP
                $(".notification").addClass("text-error");  
                $(".notification").val('Erreur');
            }
        });
        return false; // j'empêche le navigateur de soumettre lui-même le formulaire
    }
    );
});
</script>
{% endblock %}