<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Blogam{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beautiful blogging">
    <meta name="author" content="Antoine Martin">

    <!-- Le styles -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/amblog/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/amblog/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/amblog/css/bootstrap-responsive.css') }}" type="text/css" media="all" />
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Blogam</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Se connecter</a>
            </p>
            <ul class="nav">
                <li class="active"><a href="{{ path('am_blog_homepage') }}">Home</a></li>   
                <li><a href="{{ path('am_blog_addArticle') }}">Ajouter un article</a></li>              
                <li><a href="{{ path('am_blog_homepage') }}">Download</a></li>
                <li><a href="{{ path('am_blog_homepage') }}">Documentation</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<hr><hr>
        <div class="span12">
          <div class="hero-unit">
                    {% block body %}
                    {% endblock %}           
          </div>
        </div><!--/span-->
      </div><!--/row-->


      <footer class="span12">
          {% block footer %}
                &copy; Copyright 2012 Antoine Martin.
            {% endblock %}        
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/amblog/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/amblog/js/bootstrap.js') }}"></script> 
    {% endblock %}

  </body>
</html>
